@model IEnumerable<IS4439_Project_1.Models.Game>

<body>
  <section class="py-5">
    <div class="container-fluid px-0 mt-5 w-100">
      <h2 class="text-center mb-4">Classic Games</h2> 

      <div class="row gx-4 gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        @foreach (var game in Model)
        {
            @*Rendering all the products created by the DAO takes the general structure of the product card uses a foreach loop to create all the product cards*@
          <div class="col mb-5 d-flex">
            <div class="card h-100 shadow-sm" style="min-width: 100%; box-sizing: border-box;">
      
              @*For all the images created initially through relative paths render them*@

                            <img class="card-img-top"
                                 src="@game.GameImageName"
                                 alt="Game Image"
                                 style="object-fit: cover; height: 200px; width: 100%;" />

                            <div class="card-body p-4 text-center">
                <h5 class="fw-bolder">@game.GameName</h5>
                <p class="mb-2">$@game.GamePrice</p>

                @*Making the stars for each product*@

                <div class="d-flex justify-content-center small text-warning mb-2">
                  @for (int i = 1; i <= 5; i++)
                  {
                    if (i <= @game.GameRating)
                    {
                      <i class="bi bi-star-fill"></i> 
                    }
                    else
                    {
                      <i class="bi bi-star"></i> 
                    }
                  }
                </div>
              </div>
              
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    @*Route for each Product Detail page for each individual product*@
                  <a class="btn btn-outline-dark mt-auto" asp-action="ProductDetail" asp-controller="Product" asp-route-id="@game.GameId">View options</a>
                </div>
              </div>
            </div>
          </div>
        } 
      </div>
    </div>
  </section>
</body>
